# ----------------------------------------------------------------------
# 1. Зависимости и служебные файлы Node.js
# ----------------------------------------------------------------------
/node_modules
/nginx
nginx/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

# ----------------------------------------------------------------------
# 2. Файлы, генерируемые TypeScript и Docker
# ----------------------------------------------------------------------
/dist                     # Скомпилированный JavaScript код (целевая папка из tsconfig.json)
/.tsbuildinfo
*.js.map                  # Source maps
!src/**/*.js              # Игнорируем .js файлы, кроме тех, что в src/

# ----------------------------------------------------------------------
# 3. Конфиденциальные данные и базы данных
# ----------------------------------------------------------------------
.env                      # Файл с паролями, ключами и секретами
.env.* # Все вариации .env

# ----------------------------------------------------------------------
# 4. Файлы, генерируемые Docker и Docker Compose
# ----------------------------------------------------------------------
# Все, что связано с локальным хранилищем Docker
/.docker
*.container-env
/postgres_data            # Том для PostgreSQL (определен в docker-compose)

# ----------------------------------------------------------------------
# 5. Файлы, генерируемые ORM Prisma
# ----------------------------------------------------------------------
/prisma/migrations/       # История миграций (обычно включается, но можно игнорировать для чистоты)
# Примечание: Файл schema.prisma ОБЯЗАТЕЛЬНО должен быть в git